<form [formGroup]="form" (ngSubmit)="saveCard()">
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <fa-icon
            [icon]="faUserCircle"
            [class.green-icon]="this.form.get('owner').valid"
          >
          </fa-icon>
        </div>
      </div>
      <input
        formControlName="owner"
        type="text"
        class="form-control"
        placeholder="Owner"
      />
    </div>
  </div>
  <br />
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
            <fa-icon [icon]="faCreditCard"  [class.green-icon]="this.form.get('cardNumber').valid"></fa-icon>
        </div>
      </div>
      <input
        maxlength="16"
        formControlName="cardNumber"
        type="text"
        class="form-control"
        placeholder="Card Number"
      />
    </div>
  </div>
  <br />
  <div class="row">
    <div class="form-group col-md-7">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text bg-white">
              <fa-icon [icon]="faCalendarAlt"
              [class.green-icon]="this.form.get('expirationDate').valid"
              ></fa-icon>
            </div>
          </div>
          <input
            maxlength="5"
            formControlName="expirationDate"
            type="text"
            class="form-control"
            placeholder="DD/MM"
          />
        </div>
      </div>
    </div>
    <div class="form-group col-md-5">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text bg-white">
              <fa-icon [icon]="faKey"
              [class.green-icon]="this.form.get('cvv').valid"
              ></fa-icon>
            </div>
          </div>
          <input
            maxlength="3"
            formControlName="cvv"
            type="text"
            class="form-control"
            placeholder="CVV"
          />
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="form-group">
    <button
      class="btn btn-success btn-block"
      type="submit"
      [disabled]="form.invalid"
    >
      <fa-icon [icon]="faSave"> </fa-icon> Accept
    </button>
  </div>
</form>
